/* Global */ 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
}

/* Homepage Component */ 

.homepage-header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* User Component */ 
.user-position {
  background-color: #f9f1f9;
  padding: 20px;
  text-align: center;
}

.alert {
  color: red;
  font-weight: bold;
}

.success-message {
  color: #38A1F3; 
  font-weight: bold;
}

/* Tweets Component */ 
.twitter-posts {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tweet-card {
  background-color: #38A1F3;
  color: #F2F2F2; 
  border-radius: 3px;
  padding: 10px;
  margin: 15px; 
  border: 1px solid #38A1F3;
}

.user-handle {
  font-size: 15px;
  color: white;
}

.post-body {
  font-size: 20px;
  color: white;
}

.created-on-date {
  font-size: 10px;
  text-align: right;
}

.updated-on-date {
  font-size: 10px;
  text-align: right;
}

.likes {
  font-size: 10px;
  text-align: right;
}